body {
    max-width: 400px;
    margin: 32px auto;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 16px;
}

.icon {
    width: 100px;
    height: 100px;
}

.info {
    font-size: 18px;
    margin: 8px 0;
}